%% -*- mode: erlang; fill-column: 72; comment-column: 48; -*-
{sub_dirs, ["rel"]}.
{deps, [
        {webmachine, ".*", {git, "git://github.com/basho/webmachine.git", "master"}},
	{erlydtl, "0.7.0", {git, "git://github.com/OJ/erlydtl.git", "HEAD"}},
	{mysql, ".*", {git, "git://github.com/dizzyd/erlang-mysql-driver.git", "master"}},
	{parse_trans, ".*", {git, "git://github.com/esl/parse_trans.git", "master"}}
       ]
}.
{edoc_opts, [{private, false}]}.
{erl_opts, [debug_info, export_all]}.

{require_otp_vsn, "R15"}.
